@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/pacifico/Pacifico.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/montserrat/Montserrat-Regular.otf) format('opentype');
}


html, body {
    margin: 0;
    font-family: "Montserrat";
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-col{
    width: auto;
    flex: 1;
    background-color: #00e0d1;
    /* background-image: linear-gradient(to bottom right, #00b5a9, #00e0d1); */
    margin-right: 10px;
    border-radius: 0 10px 10px 0;
    height: 80vh;
}
#right-col{
    width: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00e0d1;
    /* background-image: linear-gradient(to top right, #00e0d1, #00b5a9); */
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    height: 80vh;
}
.score{
    text-align: center;
    font-size: 4rem;
}
#logo-row, #description-row{
    display: flex;
    width: 100%;
    justify-content: center;
}
#logo-row{
    margin-top: 10px;
}
#description-row{
    margin-top: -10px;
    margin-bottom: 5px;
    color: rgb(204, 66, 123);
}
#logo{
    margin-right: 200px;
    height: 8vh;
}
#description{
    margin-left: 200px;
    font-size: 1.8rem;
    font-family: "Pacifico";
}

#controls.playing .play-button, #controls.game-over .play-button {
    display: none;
}
#controls:not(.playing) .pause-button, #controls:not(.playing) .resume-button {
    display: none;
}
#controls.paused .pause-button {
    display: none;
}
#controls:not(.paused) .resume-button {
    display: none;
}
#controls:not(.game-over) .restart-button {
    display: none;
}

#board {
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    border: 4px solid #cc427b;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 10px  rgba(204, 66, 123, 1); */
    margin: 0 auto;
    position: relative;
    aspect-ratio: 1/1;
    padding: 5px;
}

div.row {
    flex: 1;
    display: flex;
    flex-direction: row;
}
div.col {
    flex: 1;
    height: 100%;
    width: 100%;
}
div.col.snake {
    border-radius: 20px;
}

div.col.snake.body {
    background: #00e0d1 !important;
}

div.col.snake.head {
    background:rgb(204, 66, 123) !important;
}

div.col.food {
    /* background: #cc427b; */
    border-radius: 10px;
    font-size: 23px;
    text-align: center;
}

div#gameOver {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}
#board.game-over div#gameOver {
    display: block;
}

