
/* UTILITY */

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/pacifico/Pacifico.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(./assets/fonts/montserrat/Montserrat-Regular.otf) format('opentype');
}

html,
body {
    margin: 0;
    font-family: "Montserrat";
}

td,
th {
    width: auto;
}

.hidden{
    display: none;
}

.btn {
    background-color: transparent;
    border: solid;
    border-radius: 5px;
    box-shadow: 0.15em 0.15em;
    font-size: 1.5rem;
}

.btn:hover {
    box-shadow: 0.075em 0.075em;
    transform: translateY(0.075em)
}

.btn:active {
    box-shadow: 0 0;
    transform: translateY(0.15em)
}

.btn__controls{
    width: 15vw;
    height: 7vh;
    color: white;
    border-color: white;
    box-shadow: white;
    margin-top: 5vh;
}

.btn__submit{
    background-color: transparent;
    color: black;
    border-color: black;
    box-shadow: black;
}

.btn__key {
    width: 10vh;
    height: 10vh;
    color: white;
    border-color: white;
    box-shadow: #fff;
    margin: 0.5vh;
}

/* HEADER */

.logo-row,
.description-row {
    display: flex;
    width: 100%;
    justify-content: center;
}
.logo-row {
    margin-top: 1vh;
}
.description-row {
    margin-top: -1vh;
    margin-bottom: 1vh;
    color: #cc427b;
}
.logo {
    margin-right: 15vw;
    height: 8vh;
}
.description {
    margin-left: 15vw;
    font-size: 1.8rem;
    font-family: "Pacifico";
}

/* COLUMNS AROUND BOARD */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col, .right-col{
    width: auto;
    height: 80vh;
    margin: 0 1vw 0 1vw;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-col {
    justify-content: space-around;
    background-color: #00e0d1;
}

.brief {
    margin: 0 1vw 0 1vw;
    font-size: 1.7rem;
    text-align: center;
}

.right-col-top, .right-col-bottom{
    background-color: #00e0d1;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.right-col-top {
    flex: 1;
}

.right-col-bottom {
    flex: 2;
    margin-top: 1vw;
}

.top-row {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 0.2vw;
}

.legend {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.score {
    text-align: center;
    font-size: 4rem;
}

#controls.playing .play-button,
#controls.game-over .play-button {
    display: none;
}

#controls:not(.playing) .pause-button,
#controls:not(.playing) .resume-button {
    display: none;
}

#controls.paused .pause-button {
    display: none;
}

#controls:not(.paused) .resume-button {
    display: none;
}

#controls:not(.game-over) .restart-button {
    display: none;
}

/* BOARD */

#board {
    border-radius: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    border: 8px solid #cc427b;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 1/1;
    padding: 0.2vw;
    /* background-image: url(./assets/images/city.png); */
}

div.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

div.col {
    flex: 1;
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    justify-content: center;
}

div#gameOver {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 7vh;
    box-sizing: border-box;

}

#board.game-over div#gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

/* SCOREBOARD */

.scoreboard {
    width: 80%;
    text-align: center;
    border-top: solid 0.3vh;
    border-bottom: solid 0.3vh;
}

.show-results {
    padding: 0 1vw 0 1vw;
    width: 100%;
    display: block;
    height: 25vh;
    overflow-y: scroll;
    white-space: nowrap;
    font-size: 1rem;
}

.input__name {
    width: 30%;
    margin-top: 0.5vh;
    padding: 0.5vh;
    font-size: 1.2rem;
    border-radius: 5px;
}

.name-header {
    width: 100%;
}

.date-header {
    width: 5vw;
    white-space: nowrap;
}

.score-header {
    width: 2vw;
}